body {
    margin: 0;
    text-decoration: none;
    overflow-y: hidden;
    overflow-x: hidden;

}

.body {
    background-color: black;
    text-decoration: none;


}

.sidebar {
    text-decoration: none;

    height: 100%;
    width: 60px;
    background-color: #000000;
    position: fixed;
    top: 0;
    border-right: 0.1px solid rgba(156, 150, 150, 0.658);
}

.a {
    color: white;

    width: 120%;
    height: 5%;
    border-radius: 10px;
    margin-left: -25%;
    text-decoration: none;

}



.subtitle {
    color: rgb(255, 255, 255);
    text-decoration: none;

    margin-left: 4vh;
}


.sidebarIcon {

    color: rgb(245, 245, 245);
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;

}


#profilePhoto{
    border-radius: 100%;
    
    }


.a:hover {
    background-color: rgba(121, 124, 126, 0.233);
    color: white;
    text-decoration: none;
}



.title {

    height: 4vh;
    margin-left: 3vh;
    margin-top: 4vh;
    text-decoration: none;

}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

#modal-body2 {
    margin-left: 5px;
    overflow-y: scroll;

}

#modal-content {
    background-color: #a91616;
    height: 75vh;

}

#userNickName {
    color: white;
    margin-top: -41px;
    margin-left: 50px;
    width: 70vh;

}

#userProfileName {
    font-size: 13px;
    font-weight: 600;
    color: #9a9a9a;
    margin-left: 50px;
    margin-top: -21px;

}



#UserInfo:hover {

    background-color: #ffdfdf59;

}


#searchUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;

}

.More {

    margin-left: 5vh;
    width: 50vh;
    background-color: #fff8f8ef;
}


.messageBox {
    border: 1px solid #333;
    width: 67vh;
    height: 90vh;
    margin-left: 12vh;
}

#sidebarMessageBox {
    width: 55vh;
    margin-top: 0;
    margin-left: 12vh;
    overflow-y: scroll;
    height: 74vh;
    border: 1px solid #333;


}


#messageImg {

    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 5vh;

}


#sessionName {
    color: #ffffff;
    font-weight: 700;
    margin-left: 17vh;
    margin-top: 5vh;
}


#createChat {

    width: 30px;
    height: 30px;

    margin-left: 57vh;
    margin-top: -13vh;
}


#profileName {

    color: antiquewhite;
    margin-top: -8vh;
    margin-left: 15vh;
}

#lastMessage {
    color: white;
    font-size: 12px;
    margin-left: 15vh;
}

#messagesBox2 {
    z-index: 1000;
    margin-left: 64.5vh;
    width: 164vh;
    height: 90vh;
    margin-top: -90vh;

}

#profileInfo {
    border: 1px solid rgb(117, 116, 116);
    height: 10vh;
    width: 100%;

}

#profileMessages {
    height: 80vh;
    width: 100%;
}





#profileInfoImage {

    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 3vh;
}

#h1Profile {

    color: #ffffff;
    font-size: 15px;
    margin-left: 13vh;
    margin-top: -5vh;
}

#IconMessage {

    margin-top: -5vh;
    margin-left: 135vh;
}

#IconMessage>img {
    width: 30px;
    height: 30px;
    margin-right: 10px;


}

#form {
    margin-left: 10vh;
    margin-top: 0vh;
}

#input {
    border: 1px solid #a49c9c;
    width: 90%;
    height: 50px;
    background-color: #000000;
    border-radius: 25px;
    color: #ffffff;
}

#button {
    border-radius: 50px;
    margin-left: -15vh;
    margin-top: -55px;
    background-color: #000000;
    color: rgb(63, 76, 197);
    border: 0;
    font-weight: bold;
}


.message1Img {

    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: -6vh;
    margin-top: 2vh;

}

.otherUserMessages {
    height: 8vh;
    color: #ffffff;
    border-radius: 15px;
    margin-left: 7vh;
    margin-top: 5vh;

}

.otherMessageText1 {
    background-color: #333;
    margin-top: -7vh;
    width: 95vh;
    border-radius: 15px;
    height: 10vh;
    position: relative;

}


.sessionUserMessages {
    height: 10vh;
    color: #ffffff;
    background-color:#3797f0;
    border-radius: 15px;
    width: 75vh;
    margin-left: 85vh;
    margin-top: 5vh;
    position: relative;

}


#messagesArea {
    height: 100%;
    width: 163vh;
    margin-left: 0px;
    overflow-y: scroll;

}

#postAdd {
    margin-top: 10vh;
    width: 70vh;
    height: 70vh;
    border-radius: 15px;
    margin-left: 70vh;

}


#photoUploadContent {
    background-color: #262626;
    color: white;
    width: 70vh;
    height: 60vh;

}

.More {

    margin-left: 5vh;
    width: 50vh;
    background-color: #fff8f834;
}
.moreDivArea {
    position: fixed;
    top: 50vh;
    left: 20px;
    width: 50vh;
    border-radius: 15px;
    z-index: 9999; /* Diğer içeriklerin üzerinde görünmesini sağlar */
    background-color: #665e5e; /* Arka plan rengi */
    padding: 10px; /* İçeriği kenarlardan uzaklaştırır */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}



#searchDivNav {
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: -1vh;
    height: 100vh;
    width: 65vh;
    margin-left: 10vh;
    position: fixed;
    z-index: 999;
    /* En ön planda olmasını sağlayacak bir değer */

}


#noticeDivNav {
    color: white;
    background-color: #262626;
    height: 100vh;
    width: 65vh;
    position: fixed;
    top: 0;
    left: 40vh;
    z-index: 999;
}
