.body {

    background-color: #1a1a1a;
}

.carousel {
    border-radius: 15px;
    margin-top: 2vh;
    margin-left: 75vh;
    width: 75vh;
    height: 95vh;
}

.carousel-inner {
    border-radius: 15px;
    height: 92vh;
    margin-top: -85vh;
}

.carousel-inner > .carousel-item > .img {
    width: 85vh;
    height: 95vh;
    margin-left: 72vh;
    border-radius: 15px;
}

.carousel-indicators{
position: absolute;
    top: 3vh;
}

#deleteIcon{
width: 5vh;
margin-left:70vh;
}
#moreDivArea{
width: 15vh;
margin-left: 85vh;
}
