<div id="sidebar" class="sidebar">
        <a class="sidebarA" href="/"><img class="title" src="/black_Instagram_title.png">
                <img class="title2" src="/instagram.png"></a>
        
        <br><br>

        <div id="subA" class="a subA"><img class="sidebarIcon" src="/Icons/home.png" alt="" srcset=""><a class="subtitle"
                        href="/">Anasayfa</a></div>
        <br>
        <div id="subA" class="a subA"><img class="sidebarIcon" src="/Icons/search.png" alt="" srcset=""><a href="#ara" id="myLink"
                        class="subtitle">Ara</a>
        </div>
        <br>
        <div id="subA" class="a subA"><img class="sidebarIcon" src="/Icons/discovery.png" alt="" srcset=""><a class="subtitle"
                        href="#kesfet">Keşfet</a> </div>
        <br>
        <div id="subA" class="a subA"><img class="sidebarIcon" src="/Icons/reels.png" alt="" srcset=""><a class="subtitle"
                        href="#reels">Reels</a>
        </div>
        <br>
        <div id="subA" class="a subA"><img class="sidebarIcon" src="/Icons/chat.png" alt="" srcset=""><a class="subtitle"
                        href="/direct/inbox">Mesajlar</a> </div>
        <br>
        <div id="subA" class="a subA" ><img class="sidebarIcon" src="/Icons/heart.png" alt="" srcset=""><a class="subtitle" id="myNotice"
                        href="#bildirimler">Bildirimler</a> </div>
        <br>
        <div id="subA" class="a subA" data-toggle="modal"   data-target="#postAdd"><img class="sidebarIcon"
                        src="/Icons/instagramPost.png" ><a class="subtitle" href="#">Oluştur</a> </div>
        <br>
        <div id="subA" class="a subA"><img id="profilePhoto" class="sidebarIcon" src="/users_profile/<%=sessionProfilePicture%>" alt=""
                        srcset=""><a class="subtitle" href="/<%=userName%>">Profil</a>
        </div>
        <br>
        <div id="subA" class="a subA" id="moreDiv"><img class="sidebarIcon" src="/Icons/menu.png" alt=""
                        srcset=""><a class="subtitle" href="#daha">Daha
                        fazla</a> </div>
        <br>



</div>

