<div class="sidebar">
    <a href="/"><img class="title" src="/instagram.png"></a>
    <br><br><br>

    <div class="a"><a class="subtitle" href="/"><img class="sidebarIcon" src="/Icons/home.png" alt="" srcset=""></a>
    </div>
    <br>
    <div class="a" id="myLink"><a class="subtitle" href="#ara"><img class="sidebarIcon" src="/Icons/search.png" alt=""
                srcset=""></a>
    </div>
    <br>
    <div class="a"><a class="subtitle" href="#kesfet"><img class="sidebarIcon" src="/Icons/discovery.png" alt=""
                srcset=""></a> </div>
    <br>
    <div class="a"><a class="subtitle" href="#reels"><img class="sidebarIcon" src="/Icons/reels.png" alt=""
                srcset=""></a>
    </div>
    <br>
    <div class="a"><a class="subtitle" href="#mesajlar"><img class="sidebarIcon" src="/Icons/chat.png" alt=""
                srcset=""></a> </div>
    <br>
    <div class="a" id="myNotice"><a class="subtitle" href="#bildirimler"><img class="sidebarIcon" src="/Icons/heart.png" alt=""
                srcset=""></a> </div>
    <br>
    <div class="a"><a class="subtitle" data-toggle="modal"   data-target="#postAdd" href="#" ><img class="sidebarIcon" src="/Icons/instagramPost.png" alt=""
                srcset=""></a> </div>
    <br>
    <div class="a"><a class="subtitle"
        href="/"><img id="profilePhoto"  class="sidebarIcon" src="/users_profile/<%=profilePicture%>" alt="" srcset=""></a>
    </div>
    <br>
    <div class="a" id="moreDiv" href="#daha"><a class="subtitle" href="#daha"></a><img class="sidebarIcon" src="/Icons/menu.png" alt=""
            srcset=""></a> </div>

    <br>


</div>
