<div class="sidebar">
        <a href="/"><img id="title" class="title" src="/black_Instagram_title.png"></a>

        <br><br><br><br>

        <div class="a" id="placeIcon"> <a href="/"><img  class="sidebarIcon" src="/Icons/home.png" alt="" srcset=""></a><a class="subtitle"
                        href="/">Anasayfa</a></div>
        <br>
        <div class="a" id="placeIcon"> <img href="#ara" id="myLink" class="sidebarIcon" src="/Icons/search.png" alt="" srcset=""><a href="#ara" id="myLink"
                        class="subtitle">Ara</a>
        </div>
        <br>
        <div class="a" id="placeIcon"><a href="#kesfet"><img class="sidebarIcon" src="/Icons/discovery.png" alt="" srcset=""></a><a class="subtitle"
                        href="#kesfet">Keşfet</a> </div>
        <br>
        <div class="a" id="placeIcon"><a href="#reels"><img class="sidebarIcon" src="/Icons/reels.png" alt="" srcset=""></a><a class="subtitle"
                        href="#reels">Reels</a>
        </div>
        <br>
        <div class="a" id="placeIcon"><a href="/direct/inbox"><img class="sidebarIcon" src="/Icons/chat.png" alt="" srcset=""></a><a class="subtitle"
                        href="/direct/inbox">Mesajlar</a> </div>
        <br>
        <div class="a" id="placeIcon"><a href="#bildirimler" id="myNotice"><img class="sidebarIcon" src="/Icons/heart.png" alt="" srcset=""></a><a class="subtitle" id="myNotice"
                        href="#bildirimler">Bildirimler</a> </div>
        <br>
        <div class="a" id="placeIcon" data-toggle="modal"   data-target="#postAdd"><img class="sidebarIcon"
                        src="/Icons/instagramPost.png" ><a class="subtitle" href="#">Oluştur</a> </div>
        <br>
        <div class="a" id="placeIcon"><a href="/<%=userName%>"><img id="profilePhoto" class="sidebarIcon" src="/users_profile/<%=sessionProfilePicture%>" alt=""
                        srcset=""></a><a class="subtitle" href="/<%=userName%>">Profil</a>
        </div>
        <br>
        <div class="a" id="placeIcon" id="moreDiv"><img class="sidebarIcon" src="/Icons/menu.png" alt=""
                        srcset=""><a class="subtitle" href="#daha">Daha
                        fazla</a> </div>
        <br>



</div>

