body {
    margin: 0;
    text-decoration: none;

}

.body {
    background-color: black;
    text-decoration: none;


}

.sidebar {
    text-decoration: none;

    height: 100%;
    width: 250px;
    background-color: #000000;
    position: fixed;
    top: 0;
    border-right: 0.1px solid rgba(156, 150, 150, 0.658);
}

.a {
    color: white;

    width: 80%;
    height: 5%;
    border-radius: 10px;
    margin-left: 10%;
    text-decoration: none;

}


.subtitle {
    color: rgb(255, 255, 255);
    text-decoration: none;

    margin-left: 4vh;
}


.sidebarIcon {
    color: rgb(245, 245, 245);
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;

}




#profilePhoto {
    border-radius: 100%;

}

.a:hover {
    background-color: rgba(121, 124, 126, 0.233);
    color: white;
    text-decoration: none;
}



.title {

    height: 10vh;
    margin-left: 5vh;
    margin-top: 2vh;
    text-decoration: none;

}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: white !important;
    text-decoration: none !important;
}

.More {

    margin-left: 5vh;
    width: 50vh;
    background-color: #fff8f834;
}

.moreDivArea {
    display: none;
    position: fixed;
    top: 50vh;
    left: 20px;
    width: 50vh;
    border-radius: 15px;
    z-index: 9999; /* Diğer içeriklerin üzerinde görünmesini sağlar */
    background-color: rgb(38 38 38); /* Arka plan rengi */
    padding: 10px; /* İçeriği kenarlardan uzaklaştırır */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    text-align: center;
    cursor: pointer; 
}

.moreDivArea>.modal-body>.col>.btn{
    color: #ffffff;
}
.moreDivArea>.modal-body>.col:hover {
    background-color: #8a958a; /* Butonun üzerine gelindiğinde arka plan rengi değişir */
    border-radius: 25px;

}

#title2{
display: none;
}


@media screen and (max-width: 1024px) {

.sidebar{
    width: 20%;
}
#title{
   display: none;
}

}